<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatroommessageMapper">
    <resultMap id="ChatRoomMessageMap" type="ChatRoomMessage">
        <id property="idx" column="crm_idx"/>
        <result property="msg" column="crm_msg"/>
        <result property="isDelete" column="crm_is_delete"/>
        <result property="deleteUsers" column="crm_delete_users"/>
        <result property="type" column="crm_type"/>
        <result property="cdate" column="crm_cdate"/>

        <association property="user" javaType="User">
            <id property="userIdx" column="u_user_idx"/>
            <result property="userId" column="u_user_id"/>
            <result property="sts" column="u_sts"/>
            <result property="cdate" column="u_cdate"/>
        </association>

        <association property="chatRoom" javaType="ChatRoom">
            <id property="idx" column="cr_idx"/>
            <result property="name" column="cr_name"/>
            <result property="memberNum" column="cr_member_num"/>
            <result property="isGroup" column="cr_is_group"/>
            <result property="phoneNumber" column="cr_phone_number"/>
            <result property="cdate" column="cr_cdate"/>
        </association>
    </resultMap>

    <select id="findRecentMessages" parameterType="map" resultMap="ChatRoomMessageMap">
        SELECT
            crm.idx AS crm_idx,
            crm.msg AS crm_msg,
            crm.is_delete AS crm_is_delete,
            crm.delete_users AS crm_delete_users,
            crm.type AS crm_type,
            crm.cdate AS crm_cdate,

            cr.idx AS cr_idx,
            cr.name AS cr_name,
            cr.member_num AS cr_member_num,
            cr.is_group AS cr_is_group,
            cr.phone_number AS cr_phone_number,
            cr.cdate AS cr_cdate,

            u.user_idx AS u_user_idx,
            u.user_id AS u_user_id,
            u.sts AS u_sts
        FROM aa_chat_room_message crm
                 JOIN aa_chat_room cr ON crm.chat_room_idx = cr.idx
                 LEFT JOIN aa_dd_user u ON crm.user_idx = u.user_idx
        WHERE crm.chat_room_idx = #{roomId}
          AND crm.cdate >= #{entryTime}
        ORDER BY crm.cdate DESC
            LIMIT 100
    </select>

    <select id="findAllByChatRoomId" resultMap="ChatRoomMessageMap" parameterType="Long">
        SELECT
            crm.idx AS crm_idx,
            crm.msg AS crm_msg,
            crm.is_delete AS crm_is_delete,
            crm.delete_users AS crm_delete_users,
            crm.type AS crm_type,
            crm.cdate AS crm_cdate,

            cr.idx AS cr_idx,
            cr.name AS cr_name,
            cr.member_num AS cr_member_num,
            cr.is_group AS cr_is_group,
            cr.phone_number AS cr_phone_number,
            cr.cdate AS cr_cdate,

            u.user_idx AS u_user_idx,
            u.user_id AS u_user_id,
            u.sts AS u_sts
        FROM aa_chat_room_message crm
                 JOIN aa_chat_room cr ON crm.chat_room_idx = cr.idx
                 LEFT JOIN aa_dd_user u ON crm.user_idx = u.user_idx
        WHERE crm.chat_room_idx = #{roomId}
    </select>


    <select id="findById" resultMap="ChatRoomMessageMap" parameterType="Long">
        SELECT
            crm.idx AS crm_idx,
            crm.msg AS crm_msg,
            crm.is_delete AS crm_is_delete,
            crm.delete_users AS crm_delete_users,
            crm.type AS crm_type,
            crm.cdate AS crm_cdate,

            cr.idx AS cr_idx,
            cr.name AS cr_name,
            cr.member_num AS cr_member_num,
            cr.is_group AS cr_is_group,
            cr.phone_number AS cr_phone_number,
            cr.cdate AS cr_cdate,

            u.user_idx AS u_user_idx,
            u.user_id AS u_user_id,
            u.sts AS u_sts
        FROM aa_chat_room_message crm
                 JOIN aa_chat_room cr ON crm.chat_room_idx = cr.idx
                 LEFT JOIN aa_dd_user u ON crm.user_idx = u.user_idx
        WHERE crm.idx = #{chatRoomMessageId}
    </select>

    <insert id="save" parameterType="chatRoomMessage" useGeneratedKeys="true" keyProperty="idx">
        insert into aa_chat_room_message(msg, is_delete, delete_users, type, cdate, chat_room_idx, user_idx)
        values(#{msg}, #{isDelete}, #{deleteUsers}, #{type}, #{cdate}, #{chatRoom.idx}, #{user.userIdx})
    </insert>

    <update id="update" parameterType="chatRoomMessage">
        UPDATE aa_chat_room_message
        SET
            is_delete = #{isDelete},
            delete_users = #{deleteUsers}
        WHERE idx = #{idx}
    </update>


    <select id="existsByChatRoomId" resultType="int" parameterType="Long">
        SELECT EXISTS (
                       SELECT 1 FROM aa_chat_room_message WHERE chat_room_idx = #{roomId}
                   )
    </select>

    <delete id="deleteByChatRoomId" parameterType="Long">
        delete from aa_chat_room_message where chat_room_idx = #{roomId}
    </delete>

</mapper>