<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userCodeMapper">
    <insert id="updateAppCode" parameterType="UserCode">
        UPDATE aa_dd_user_app
        SET app_code = #{appCode}
        WHERE idx = #{idx}
    </insert>

    <select id="findByUserIdx" parameterType="Long" resultType="UserCode">
        SELECT idx, app_code, sts, user_idx
        FROM aa_dd_user_app
        WHERE user_idx = #{userIdx} AND sts = "I"
    </select>
</mapper>
